<% if game.hints <= 0 %>
    <p>You have used all your hints :(</p>
<% else %>
    <% if hint %>
        <p>One of the numbers is: <%= hint %></p>
    <% end %>

    <p>Hints left: <%= game.hints %></p>
    <form action="/hint" method="post">
      <input type="submit" value="Hint(<%= game.hints %>)">
    </form>
<% end %>
