<% unless show_hint.empty? %>
    <p>Your hints: <%= show_hint %></p>
<% end %>

<% unless @game.hints <= 0 %>
    <form action="/hint" method="post">
      <input type="submit" value="Hint(<%= @game.hints %>)">
    </form>
<% end %>
