<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  <meta charset="UTF-8">
  <title>Codebreaker</title>
</head>
<body>
  <div id="container">
    <h1>Codebreaker</h1>
  </div>
</body>
</html>
