body {
    background-color: #4B7399;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
}

#container {
    width: 50%;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin: 20px auto 0;
}

a {
    color: #0000FF;
}
